/* $Id: api.css,v 1.2 2004/09/02 13:23:51 JonBob Exp $ */

.php {
  font-family: monospace;
}

.php .php-comment {
  color: #666;
}

.php .php-function {
  color: #00a;
}

.php .php-function a.local {
  color: #00a;
  font-weight: bold;
}

.php .php-function a.php-manual {
  color: #048;
  font-weight: bold;
}

.php .php-variable {
  color: #330;
}

.php .php-string {
  color: #a00;
}

.php .php-constant {
  color: #a33;
}

.php .php-keyword {
  color: #060;
}